<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="Lab_3.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <meta charset="utf-8">
  <title>User Avatar Template</title>
</head>
<body background = "http://images3.alphacoders.com/212/212507.jpg">
<script src="Lab_3.js"></script> 
  <div ng-app='app' ng-controller='mainCtrl'>
    <h1>Create Your Avatar</h1>
    <form name='userForm' ng-submit='addNew(userForm)'>
      <input placeholder='Name' ng-model='userForm.name'/>
      <input placeholder='Image Url' ng-model='userForm.url'/>
      <button type='submit'>Add New</button>
    </form>
    
    <ul class='User-list'>
      <li ng-repeat='user in users'>
         <avatar user='user' />
      </li>
    </ul>
  </div>
</body>
</html>
